<div class="sidebar row">
  <div class="img">
    <img class="cat" src="../../../../assets/imgs/icon.png">
  </div>
  <div class="nav">
    <div class="navElement topBorder" routerLink="staff" routerLinkActive="active">
      <i class=" icon fa fa-users fa-lg" aria-hidden="true"></i>
      <span type="button" class="button">Staff</span>
    </div>
    <div class="navElement" routerLink="tickets" routerLinkActive="active">
      <i class=" icon fa fa-ticket fa-lg" aria-hidden="true"></i>
      <span type="button" class="button">Tickets</span>
    </div>
    <div class="navElement" routerLink="config" routerLinkActive="active">
      <i class=" icon fa fa-cog fa-lg" aria-hidden="true"></i>
      <span type="button" class="button">Configuration</span>
    </div>
  </div>
</div>