<div class="sidebar row">
    <div class="img col-3">
        <img class="cat" src="../../../../assets/imgs/icon.png">
    </div>
    <div class="nav col-9">
      <div class="navElement" routerLink="/staff" routerLinkActive="active">
        <i class=" icon fa fa-users fa-lg" aria-hidden="true"></i>
        <button type="button" class="button">Staff</button>
      </div>
      <div class="navElement" routerLink="/tickets" routerLinkActive="active">
        <i class=" icon fa fa-ticket fa-lg" aria-hidden="true"></i>
        <button type="button" class="button">Tickets</button>
      </div>
      <div class="navElement" routerLink="/config" routerLinkActive="active">
        <i class=" icon fa fa-cog fa-lg" aria-hidden="true"></i>
        <button type="button" class="button">Configuration</button>
      </div>
    </div>
</div>
