:host::ng-deep{
    .header{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .menu-items{
            box-shadow: 5px 1px 10px #24242f;
            padding: 0;
            .menu{
                .p-megamenu{
                    padding: 14px 0 14px 0;
                    border: none;
                    border-radius: 0px;
                    background-color: #34344d;
                    .p-megamenu-root-list{
                        background-color: #34344d;
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        .p-menuitem{
                          padding-right: 20px;
                            .p-megamenu-panel{
                                border-radius: 5px;
                                background-color: #5e6482;
                                width: 150px;
                                .p-megamenu-grid{
                                    .p-megamenu-col-12{
                                        .p-megamenu-submenu{
                                          width: 150px;
                                          padding: 0;
                                            .p-megamenu-submenu-header{
                                                display: none;
                                            }
                                            .p-menu-item{
                                              .p-menuitem-link{
                                                .p-menuitem-text:hover{
                                                  color: #313156;
                                                  font-size: 20px;
                                                }
                                              }
                                              .p-menuitem-link:hover{
                                                background-color: none;
                                              }
                                            }
                                        }
                                    }
                                }
                            }
                            .p-menuitem-link{
                              background: none;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                                .p-menuitem-text{
                                    color: #e4f2ff;
                                    ::before{
                                        color: #e4f2ff;
                                    }
                                }
                                .p-menuitem-icon{
                                    color: #e4f2ff;
                                    ::before{
                                        color: #e4f2ff;
                                    }
                                }
                                .p-submenu-icon{
                                    color: #e4f2ff;
                                }
                            }
                            .p-menuitem-link:hover{
                                background-color: none;
                            }
                            .p-menuitem-link:focus{
                                box-shadow: none;
                                background-color: none;
                            }
                            .p-menuitem-link:visited{
                                background-color: none;
                            }
                            .p-menuitem-link:hover{
                                span{
                                    color: black;
                                    ::before{
                                        color: black;

                                    }
                                }
                            }
                        }
                        .p-menuitem:focus{
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}
