:host::ng-deep{
    .header{
        width: 100%;
        margin: 0 !important;
        .menu-items{
            box-shadow: 5px 1px 10px #24242f;
            padding: 0;
            .menu{
                .ui-megamenu{
                    padding: 14px 0 14px 0;
                    border: none;
                    border-radius: 0px;
                    background-color: #34344d;
                    .ui-megamenu-root-list{
                        display: flex;
                        justify-content: flex-end;
                        .ui-menuitem {
                            padding-right: 5px;
                            .ui-menuitem-link{
                                box-shadow: none;
                                background: none;
                                .ui-menuitem-icon{
                                    color: white;
                                    ::before{
                                        color: white;
                                    }
                                }
                                .ui-menuitem-text{
                                    color: white;
                                }
                                .ui-submenu-icon{
                                    color: white;
                                    ::before{
                                        color: white;
                                    }                                
                                }
                              }
                            .ui-menuitem-link:hover{
                              background-color: #3c3c52;
                              border-radius: 10px;
                              .ui-menuitem-icon{
                                color: #a7dee6;
                            }
                            .ui-menuitem-text{
                                color: #a7dee6;
                            }
                            .ui-submenu-icon{
                                color: #a7dee6;
                            }
                            }
                            .ui-megamenu-panel {
                                border-radius: 5px;
                                background-color: #5e6482;
                                width: 100%;
                                .ui-megamenu-grid{
                                    .ui-megamenu-col-12{
                                        .ui-megamenu-submenu{
                                            width: 100%;
                                            .ui-megamenu-submenu-header{
                                                display: none;
                                            }
                                            .ui-menuitem-link {
                                                text-align: center;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .ui-menuitem:focus{
                            outline: none;
                        }
                    }
                }
            }
        }
    }
}
