<div class="container-fluid">
    <div class="row main">
        <div class="col-2 sidebar">
            <div class="icon">
                <img class="airplane" src="../../../../assets/imgs/airplane1.svg">
            </div>
            <p-panelMenu class="sitebarMenu" [model]="sitebarItems"></p-panelMenu>
        </div>
        <div class="col-10 headerAndContent">
            <header class="row header">
                <div class="col menu-items">
                    <p-megaMenu class="menu" [model]="menuItems"></p-megaMenu>
                </div>
            </header>
            <section class="row content"></section>
        </div>
    </div>
</div>
