.cont {
  height: 100vh;
  background-color: #eaeaf8;
}
.content{
  background-color: #f1f1ff;
  height: 100%;
}
.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  p {
    margin: 0;
    font-family: Georgia, serif;
    font-size: 80px;
    color: #7b7b7b;
  }
  i {
    color: #4c5763;
    margin: 20px;
  }
}
.login-wrapper {
  .formgroup {
    padding: 0 200px;
    .area {
      .field {
        .control {
          width: 100%;
          label {
            top: -15px;
          }
        }
        .control input:focus {
          border: none;
        }
        .errMessage {
          display: flex;
          p {
            margin: 5px 0 0 0;
          }
        }
      }
    }
  }
}
.create {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 0 0 0;
  button:focus {
    box-shadow: 0 1px 15px #004843;
    border: none;
  }
}
.ng-invalid.ng-touched {
  border-color: red;
}
