.cont{
    height: 100vh;
    background-color: #EAEAF8;
}
.registration{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    p{
        margin: 0;
        font-family: Georgia, serif;
        font-size: 80px;
        color: #7b7b7b;
    }
}
.login-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 30px 70px;
    .userPlus{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #4c5763;
    }
    .formgroup{
        padding-right: 110px;
        .area{
            .control label{
                left: 1.5rem !important;
            }
            .control input:focus{
                border: none;
            }
            .gender{
                display: flex;
                justify-content: space-evenly;
                padding: 0;
                .radiobutton{
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    label{
                        margin: 0;
                        padding-left: 10px;
                        color: #4c5763;
                        cursor: pointer;
                    }
                }
                .radiobutton:hover{
                    border-bottom: 1px solid #007aff;
                }
            }
        }
    }
}
.create{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 0 0 360px;
    button{
        box-shadow: 0 1px 15px #004843;
    }
    button:focus{
        box-shadow: 0 1px 15px #004843;
        border: none;
    }
}
.ng-invalid.ng-touched{
    border-color: red;
}
