.cont {
  height: 100vh;
  background-color: #eaeaf8;
}
.content {
  background-color: #f1f1ff;
  height: 100%;
}
.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
  .reg-text {
    margin: 0;
    font-family: Georgia, serif;
    font-size: 80px;
    color: #7b7f83;
  }
  .icon {
    color: #4c5763;
    margin: 20px;
  }
}
.login-wrapper {
  .formgroup {
    padding: 0 200px;
    .area {
      .field {
        .control input:focus {
          box-shadow: none;
        }
        .errMessage {
          .message {
            margin: 20px 0 0 0;
          }
        }
      }
    }
  }
}
.create {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 0 0 0;
  .btn:focus {
    border: none;
  }
  .btn:not([disabled]) {
    box-shadow: 0 2px 10px #004843;
  }
  .btn:not([disabled]):focus {
    box-shadow: none;
  }
}
.ng-invalid.ng-touched {
  border-color: red !important;
}
