<div class="login-wrapper" *ngIf="!loggedIn">
    <form class="formLogin" [formGroup]="userInfoForm">
        <div class="header">
            <img src="assets/imgs/ang.png" alt="">
            <p>Log-in to your account</p>
        </div>
        <div class="userData">
            <!-- <div *ngIf="userInfoForm.get('password').errors as errors">
                <p *ngIf="errors.email">{{errors.maxLength.message}}</p>
                <pre>{{errors | json}}</pre>
            </div> -->
            <div class="inputs" ngbPopover="Type your email." placement="right">
                <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
                <input placeholder="email" formControlName="email" type="text">
            </div>
            <div *ngIf="userInfoForm.get('email').errors as errors" class=" errMessage text-danger">
                <p *ngIf="errors.email">Email is not valid</p>
            </div>
            <div class="inputs" ngbPopover="Type your password." placement="right">
                <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                <input placeholder="password" formControlName="password" type="password">
            </div>
            <div *ngIf="userInfoForm.get('password').errors as errors" class="errMessage text-danger">
                <p *ngIf="errors.maxLength">{{errors.maxLength.message}}</p>
            </div>
            <div class="rememberAndForgot">
                <div class="remember">
                    <label for="remember">Remember me</label>
                    <p-checkbox class="rem" name="groupname" formControlName="rememberme" inputId="remember"></p-checkbox>
                </div>
                <div class="forgot">
                    <a (click)="forgotPassword()">Forgot Password?</a>
                </div>
            </div>
            <div class="login">
                <button type="submit" (click)="login()">Login</button>
            </div>
        </div>
        <div class="singup" (click)="singUp()">
            <p>New to us?</p>
            <a>Sing up</a>
        </div>
    </form>
</div>
